.content{
    grid-area: c;
background-color: #d5a30a;
margin-top: 100px;
font-weight: bold;

}
.item{
    font-size: 2em;

}

.letter{
    font-size: 45px;
    color: #2f0fdc;
}
button{
    background-color: #10b83f;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5%;
    cursor: pointer;
    margin: 10px;
}