.content{
    grid-area: c;
background-color: #d5a30a;
margin-top: 100px;
font-weight: bold;

}
.item{
    font-size: 2em;
    padding: 10px;
}
.item img {
    padding: 10px;
}
.letter{
    font-size: 45px;
    color: #2f0fdc;
}
button{
    background-color: #0b9f34;
    color: #ffffff;
    font-size: 20px;
    width: 100px;
    border-radius: 5%;
    cursor: pointer;
    margin-left: 80px;
    position: relative;
}
