.nav{
    grid-area: n;
    background-color: #5760c8;
    margin: 100px 0px 0px 0px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    height: auto;
}

.item{
    color: #ffffff;
}
.item.active{
    color: chartreuse;
    background-color: #100606;
    width: 39%;

}