.nav {
    grid-area: n;
    background-color: #5760c8;
    margin: 100px 0px 0px 0px;
    height: 70px;
    font-size: 30px;
    font-weight: bold;
    height: auto;
    padding: 10px;

}

.nav .item {
    background-color: #eef3ed;
    padding: 10px;
}


.item a {
    color: #211f1f;
    text-decoration: none;


}

.item a.activeLink {
    color: #ea526c;
    width: 39%;

}