.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-wrapper{
  margin: 0 auto;
  display: grid;
  width: 1700px;

  grid-template-areas:
  "h h"
  "n c";

  grid-template-rows: 40px 1fr;
  grid-template-columns: 2fr 5fr;
  /*grid-gap: 10px;*/

}
.header {
grid-area: h;
  background-color: #61dafb;
  height: 140px;

}

.header img{
  width: 90px;
  margin-left: 20px;

}

.nav{

  grid-area: n;
  background-color: #69dbcb;
  margin: 100px 0px 0px 0px;
  height: 90px;
  font-size: 30px;
  font-weight: bold;
  height: 1000px;
}

.content{
  grid-area: c;
  background-color: #d5a30a;
  margin-top: 100px;
  font-weight: bold;
}
.content>p{
  font-size: 30px;
  font-weight: bold;
  text-align-last: center;
margin-top: -10px;
}

